[submodule "waveglow"]
	path = waveglow
	url = https://github.com/NVIDIA/waveglow.git
	ignore = untracked
[submodule "ParallelWaveGAN"]
	path = ParallelWaveGAN
	url = https://github.com/kan-bayashi/ParallelWaveGAN.git
